# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# Expo
node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/


apps/mobile-e2e/artifacts
.env

serviceAccountKey.json
apps/mobile/pc-api-8267020174778927726-748-81eb349346aa.json
tmdb-watchlist-8db00-firebase-adminsdk-h6fmf-7cf0af9244.json
apps/mobile/google-services.prod.json
apps/mobile/GoogleService-Info.prod.plist
